html {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #000603;
}

header {
  background-color: white;
  padding: 2px;
  margin: 0 auto;
}

h1 {
  font-family: 'Milonga', cursive;
  text-align: center;
  font-size: 50px;
  margin-bottom: 0;
}

h4 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
}

main {
  color: white;
}

button {
  border-radius: 5px;
  padding: 5px;
  background-color: #827b81;
  color: #f4f905;
}

.hit {
  color: #28f606;
}

.stay {
  color: #f90505;
}

.btn {
  background-color: #827b81;
  width: 75px;
  height: 30px;
}

.btn+.btn {
  margin-left: 10px;
}

main {
  text-align: center;
}